# .env file
.env

# Hide the Sqlite database inside the db directory
storage/*.db

# Hide chrome driver
chromedriver

# Hide .venv, .vscode
.venv
.vscode

# Hide __pycache__ in all directories
__pycache__/

# Hide main_* files
main_*.py

# Hide chrome driver
chromedriver
